<div class="container my-5">
    <div class="row">
        <div class="col-5">
            <h3>Algemene voorwaarden</h3>
            <p>
                AnimalX is een schoolproject.
                De website is niet bedoeld voor daadwerkelijke verkoop.
                U kunt niet echt geld uitgeven op de site.
                Ons school project is gericht op het maken van een website,
                we studeren geen rechten, dus een juridisch dichtgetimmerd document met algemene voorwaarden hebben we
                niet.
            </p>
        </div>
    </div>
</div>
