<div class="container my-5">

    <!-- HERO SECTION -->
    <div class="row">
        <div class="col-sm-12 col-md mb-4">
            <img src="assets/freekvonk.jpg"
                 alt=""
                 width="100%">
        </div>
        <div class="col-sm-12 col-md mb-4">
            <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                 alt=""
                 width="100%">
            <!-- <h1 class="text-primary">Meet & greet</h1>
            <h4 class="text-muted">De webshop voor al uw dieren</h4> -->
        </div>
    </div>

    <!-- CATEGORIES -->
    <div class="row justify-content-center">
        <h2 class="mb-3 text-primary">Kies een categorie</h2>
        <ng-container *ngIf="categories$ | async as categories; else loader">
            <a class="col-12 col-sm-6 col-md-4 col-xl mb-4"
               style="text-decoration: none;"
               *ngFor="let category of categories"
               routerLink="/products"
               [queryParams]="{categoryIds: category.id}">
                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                     alt=""
                     width="100%">
                <p class="text-center mt-2">{{category.name}}</p>
            </a>
        </ng-container>
    </div>

    <!-- POPULAR PRODUCTS -->
    <div class="row justify-content-center">
        <h2 class="mb-3 text-primary">Populaire dieren</h2>
        <ng-container *ngIf="popularProducts$ | async as popularProducts; else loader">
            <app-product-card class="col-sm-12 col-md-4 col-xl mb-4"
                              *ngFor="let product of popularProducts | slice:0:4"
                              [product]="product"></app-product-card>
        </ng-container>
    </div>

</div>

<!-- LOADER -->
<ng-template #loader>
    <div class="text-center">
        <div class="spinner-border text-primary"
             role="status">
        </div>
    </div>
</ng-template>
