<div *ngIf="product && item && category"
     class="row border-bottom">
    <div class="row main align-items-center">
        <div class="col-2">
            <img class="img-fluid py-3"
                 src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg">
        </div>
        <div class="col">
            <div class="row text-muted">{{category.name}}</div>
            <div class="row">{{product.name}}</div>
        </div>
        <div class="col">
            <button class="btn"
                    (click)="updateCart(-1)">-</button>
            <span class="border">{{item.amount}}</span>
            <button class="btn"
                    (click)="updateCart(1)">+</button>
        </div>
        <div class="col">
            {{product.price * item.amount | currency:'EUR'}}
            <button class="btn"
                    (click)="updateCart(-item.amount)">&#10005;</button>
        </div>
    </div>
</div>
