<div class="container my-5">
    <div class="row">
        <div class="col-5">
            <h3 class="mb-3">Contact</h3>
            <form>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input type="text"
                           id="name"
                           class="form-control"
                           placeholder="John Doe"
                           autocomplete="name"
                           required>
                    <label for="name">Name</label>
                </div>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input type="email"
                           id="email"
                           class="form-control"
                           placeholder="name@example.com"
                           autocomplete="email"
                           required>
                    <label for="email">Email</label>
                </div>

                <!-- Password -->
                <div class="form-floating mb-3">
                    <textarea id="password"
                              class="form-control"
                              placeholder="Bericht..."
                              required></textarea>
                    <label for="password">Bericht</label>
                </div>

                <!-- Submit -->
                <button class="btn btn-primary"
                        type="submit">
                    Bericht verzenden
                </button>

            </form>
        </div>
        <div class="col-5">
            <p>
                Binnenhof 17, <br>
                2513 AA <br>
                Den Haag
            </p>
        </div>
    </div>
</div>
